:root {
  --primary-color: #015aff;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
    url("./assets/fonts/barlow-v1-latin-regular.woff2") format("woff2");
  font-weight: normal;
}

body {
  font-family: "Barlow", sans-serif;
  text-rendering: optimizeSpeed;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

html {
  overflow-y: scroll;
  overflow-x: auto;
}
